body,html  {
  margin: 0;
  padding: 0;
  
  background-color: #a6f1e0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #110c3b2b;
}

.app-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 60px;
}

main{
 display: flex;
 flex-direction: column;
 align-items: center;

}

h2{
  font-size: 2.5rem;
  color: #110c3b2b;
  margin-bottom: 20px;
  
}

a{
  text-decoration: none;
  color: #a6f1e0;
  transition: color 0.3s;
    &:hover{
    color: #222;
    }
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}
